.scheduleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* background-color: green; */
}

.calBackground {
  width: 1400px;
  height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  margin-top: 2%;
}
